
/*FUENTES*/

$title-font:"Indie Flower", cursive;
$main-font:"IBM Plex Mono", monospace;

$title-font-size: 50px;
$main-font-size:14px;

/*COLORES*/

$main-color: #fd7c5c;
$second-color: #9b9a9a;
$third-color: #ffc0cb;
$forth-color: #000000;
$fifth-color: #cec5c5;
$sixth-color: #f5f5f5; 
$seventh-color: #ffffff;

/*MEDIA QUERIES*/

$mobile-width: 900px;
$menu-width: 700px;
$mobile-width-2: 700px;







