/*Variables de fuentes*/

$title-font:"Indie Flower", cursive;
$main-font:"IBM Plex Mono", monospace;

$title-font-size: 50px;
$main-font-size:14px;


/*Variables de colores*/
$main-color: rgb(255, 115, 0);
$second-color:  rgb(155, 154, 154);
$third-color: pink;
$forth-color: black;
$fifth-color: rgb(206, 197, 197);
$sixth-color: whitesmoke; 