button{
    text-decoration: none;
    border: $third-color;
    background-color:$third-color;
    border-radius: 15px;
    width: 140px;
    height:40px;
    color: $forth-color;
    font-family:$main-font;
    font-size: 16px;
}