
nav {
    width: 100%;
    position: relative;
    font-family: $main-font;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: $second-color;
        &:hover {
            color: $main-color;
        }
        @media (max-width: $mobile-width-2) {
            color: $seventh-color;
             &:hover {
                 color: $forth-color;
             }
        }
    }  

    .menu {
        list-style: none;
        width: 100%;
        height: 40px;
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        @media (max-width: $mobile-width-2) {
            background-color: $main-color;
            color: #ffffff;
            margin-bottom: 25px;
            border-radius: 13px;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            position: relative;
            cursor: pointer;
                &:hover {
                    color: $forth-color
                }               
        }

        .titulo-desplegable {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                display: none;
                @media (max-width: $mobile-width-2){
                    display: inline;
                    padding: 10px;
                }
            }          
            @media (max-width: $mobile-width-2) {
                color: $seventh-color;
                font-size: 18px;
                cursor: pointer;
                 &:hover {
                    color: $forth-color
                 }
                &:hover .links-principales {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }  
            }
        }  
        .links-principales {
            width: 75%;
            display: flex;
            font-size: 16px;
            justify-content: space-evenly;
            padding: 0;

            @media (max-width: $mobile-width-2) {
                width: 50%;
                height: 150px;
                transform: translate(0, 60%);
                background-color: $main-color;
                color: $third-color;
                position: absolute;
                z-index: 1;
                display: none;
                &:hover {
                    display: block;
                    text-align: center;
                    padding: 5px;
                }                  
            }
        } 
 
        .links {
            list-style-type: none;
            position: relative;
            display: inline;
            color: $second-color;
            cursor: pointer;
                &:hover {
                    color: $main-color;
                }
            .fas {
                padding-left: 10px;
            }
            @media (max-width: $mobile-width-2) {
                display: flex;
                flex-direction: column;
                color: $seventh-color;
                padding: 10px;                       
            }            
        }
       
    }
    .submenu-container {
        position: absolute;
        background-color: $seventh-color;   
        height: 65px;
        width: 120px;  
        padding: 0;
        left:0;
        text-align: center; 
        visibility: hidden;
        z-index: 1;   

        ul {
            background-color: white;
            padding: 0;
            color: $second-color;
            padding: 10px;
        }  

        .sub-links {
            list-style-type: none;
            color: $second-color;
            &:hover {
                color: $main-color;
            }
        }              
    }

    .links:nth-of-type(2):hover .submenu-container {
        visibility: visible;
        @media (max-width: $mobile-width-2) {
            visibility: hidden;
        }
    }
    .fa-bars {
        display: none;
        @media (max-width:$mobile-width-2){
            display: flex;
        }   
    }
}