
/*TIPOGRAFIAS*/

$main-font: "IBM Plex Mono", monospace;
$secondary-font: "Indie Flower", cursive;

/*COLOR*/

$main-color: #6e6e6e;
$secondary-color: #fd7c5c;
$third-color: #ffffff;
$fourth-color: #000000;


/*MEDIA QUERIES*/

$mobile-width: 900px;
$menu-width: 700px;



